@model BooksUse.Models.Suppliers

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>Edition</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form id="form" asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Suppliername" class="control-label"></label>
                <input asp-for="Suppliername" class="form-control" />
                <span asp-validation-for="Suppliername" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input id="submitButton" type="submit" value="Sauver" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Retour</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<script type="text/javascript" src='/js/validateForm.min.js'></script>