@model BooksUse.Models.Requests

@{
    ViewData["Title"] = "Nouveau";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>Nouveau besoin</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateTeachers">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FkBooks" class="control-label">Livre</label>
                <select asp-for="FkBooks" class="form-control" asp-items="ViewBag.FkBooks"></select>
                <br />
                <a asp-controller="Books" asp-action="Create" class="btn btn-outline-primary">Mon livre n'existe pas</a>
            </div>
            <div class="form-group">
                <input type="submit" value="Ajouter" class="btn btn-outline-success" />
            </div>
            <div class="form-group">
                
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Retour</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
